<!DOCTYPE html>
{% extends 'Layout.html' %}
{% block content %}

    <!-- Main navigation -->
    <header>
        <!-- Navbar -->

        <!-- Navbar -->
        <!-- Full Page Intro -->
        <div class="view"
             style="background-image: url('http://mdbootstrap.com/img/Photos/Others/images/91.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            <!-- Mask & flexbox options-->
            <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
                <!-- Content -->
                <div class="container">
                    <!--Grid row-->
                    <div class="row mt-5">
                        <!--Grid column-->
                        <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left">
                            <h1 class="h1-responsive font-weight-bold wow fadeInLeft" style="color: white"
                                data-wow-delay="0.3s">Sign up right
                                now! </h1>
                            <hr class="hr-light" data-wow-delay="0.3s">
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-md-6 col-xl-5 mb-4">
                            <form action="" method="post">
                                {{ form.hidden_tag() }}


                                <div class="card wow fadeInRight" data-wow-delay="0.3s">
                                    <div class="card-body">
                                        <fieldset>
                                            <!--Header-->
                                            <div class="text-center">
                                                <h3 class="white-text">
                                                    <i class="fas fa-user white-text"></i> Login:</h3>
                                                <hr class="hr-light">
                                            </div>
                                            <!--Body-->
                                            <div class="md-form">
                                                <i class="fas fa-envelope prefix white-text active"></i>

                                                {% if form.email.errors %}
                                                    {{ form.email(class="white-text form-control is-invalid", id="form1") }}
                                                    <label for="form1" class="active">Email</label>
                                                    {% for error in form.email.errors %}
                                                        <div class="alert-message block-message error">
                                                            <span class="badge badge-danger">
                                                                {{ error }}
                                                            </span>
                                                        </div>
                                                    {% endfor %}
                                                {% else %}
                                                    {{ form.email(class="white-text form-control", id="form1") }}
                                                    <label for="form1" class="active">Email</label>
                                                {% endif %}
                                            </div>

                                            <div class="md-form">
                                                <i class="fas fa-lock prefix white-text active"></i>
                                                {% if form.password.errors %}
                                                    {{ form.password(class="white-text form-control is-invalid", id="form1") }}
                                                    <label for="form1" class="active">Password</label>
                                                    {% for error in form.password.errors %}
                                                        <div class="alert-message block-message error">
                                                        <span class="badge badge-danger">
                                                            {{ error }}
                                                        </span>
                                                        </div>
                                                    {% endfor %}
                                                {% else %}
                                                    {{ form.password(class="white-text form-control", id="form1") }}
                                                    <label for="form1" class="active">Password</label>
                                                {% endif %}
                                            </div>

                                        </fieldset>
                                        <div class="text-center mt-4">
                                            {#                                    <button class="btn btn-indigo">Login</button>#}
                                            {{ form.submit(class="btn btn-indigo") }}
                                            <hr class="hr-light mb-3 mt-4">
                                        </div>
                                    </div>
                                </div>


                            </form>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </div>
                <!-- Content -->
            </div>
            <!-- Mask & flexbox options-->
        </div>
        <!-- Full Page Intro -->
    </header>
    <!-- Main navigation -->
    <!--Main Layout-->

    <!--Main Layout-->
    <!-- SCRIPTS -->
    <!-- JQuery -->

{% endblock %}