{% extends 'Layout.html' %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <form action="" method="post" enctype="multipart/form-data" autocomplete="off">
                <fieldset>
                    {{ form.hidden_tag() }}
                    <legend>{{ legend }}</legend>
                    <div class="form-group">
                        {% if form.title.errors %}
                            {{ form.title(class="form-control is-invalid z-depth-1", placeholder="Title") }}
                            {% for error in form.title.errors %}
                                <div class="alert-message block-message error">
                            <span class="badge badge-danger">
                                {{ error }}
                            </span>
                                </div>
                            {% endfor %}
                        {% else %}
                            {{ form.title(class="form-control z-depth-1", placeholder="Title") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% if form.content.errors %}
                            {{ form.content(class="form-control form-control-lg z-depth-1 is-invalid", placeholder="Title") }}
                            {% for error in form.content.errors %}
                                <div class="alert-message block-message error">
                            <span class="badge badge-danger">
                                {{ error }}
                            </span>
                                </div>
                            {% endfor %}
                        {% else %}
                            {{ form.content(class="form-control form-control-lg z-depth-1", placeholder="Content") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.image_file(class="btn btn-primary") }}
                    </div>
                    {#                    <script>UPLOADCARE_PUBLIC_KEY = "61d989a81726b7910903";</script>#}
                    {#                    <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js"#}
                    {#                            charset="utf-8"></script>#}
                    {#                    <input type="hidden" role="uploadcare-uploader" name="my_file"/>#}
                </fieldset>
                <center>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                </center>
            </form>
        </div>
    </div>
    <script>
        $('.file-upload').file_upload();
    </script>
{% endblock %}